@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap');

body{
  background-color: #07030ded ;
  /* background-color: #140d1e; */
  /* background: url('./Assets/background.png'); */
  background-repeat: no-repeat;
  /* mix-blend-mode: multiply; */

}

.bg{
  margin-top: -143px;
  width: 100%;
  height: 900px;
}

.left-patch{
  /* background: radial-gradient(
    #000000 100%,
    #230944 100%,
    #341162 100%
  ); */
  background: linear-gradient(135deg, white, blue);
  min-height: 100vh;
}

#navbar{
  font-family: Inter;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
}

.logo{
  position: relative;
  width: auto;
  height: 65px;
  overflow: hidden;
  margin-right: 10px;
}

#features ul{
  list-style-type: none;
}

.first li{
  color: white;
  display: inline-flex;
  margin-right: 36px;
  position: relative;
  letter-spacing: -0.02em;
  text-shadow: -1px 4px 8px rgba(255, 255, 255, 0.23);
  gap: 36px;
  font-size: 18px;
}

.i-know-spots{
  color: white;
  font-size: 20px;
  margin-right: 100px;
  letter-spacing: -0.02em;
  font-weight: 500;
  text-shadow: -1px 4px 8px rgba(255, 255, 255, 0.23);
}

#host{
  margin-left: 100px;
  margin-right: 10px;
}

.btn-hc{
  cursor: pointer;
  border: none;
  border-radius: 34px;
  background-color: #7c5fb9;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(60px);
  width: 150px;
  height: 44px;
  opacity: 0.96;
  font-size: 16px;
  color: white;
  /* position: relative;
  z-index: 1; */
}

.bg-first{
  width: 100%;
  margin-top: -900px;
  height: 900px;
  overflow: hidden;
  /* mix-blend-mode: overlay; */
  opacity: 0.1;
}

.bg-second{
  width: 100%;
  margin-top: -900px;
  height: 907px;
  overflow: hidden;
  /* mix-blend-mode: overlay; */
  opacity: 0.1;
}

.text{
  font-family: Blinker;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -800px;
  font-size: 132px;
  width: 100%;
  height: 317px;
  letter-spacing: -0.04em;
  position: relative;
  z-index: 1;
}

.intro{
  background: linear-gradient(92.4deg, #8551a7, #fff 20.22%, #fff 62.73%, #fff 86.06%, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.event{
  margin-top: -20px;
  background: linear-gradient(92.4deg, #bd9cd1 2.08%, #fff 29.88%, #fff 62.73%, #fff 86.06%, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.Seamless{
  margin: 0 459px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 0.03em;
  font-size: 24px;
  position: relative;
  line-height: 36px;
  text-align: center;
  font-family: Inter;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  margin: 20px 530px;
  position: relative;
  opacity: 0.96;
  border-radius: 34px;
  /* background: linear-gradient(rgba(76, 49, 130, 0.2), rgba(76, 49, 130, 0.2)), #7c5fb9; */
  background: linear-gradient(rgb(85 0 255 / 20%), rgb(255 255 255 / 20%)), #7a4fd5;
  box-shadow: 20px 20px 30px rgb(0 0 0);
}

.front-ticket{
  transform: translate(100px, -115px);
  height: 400px;
  position: relative;
  z-index: 1;
}

.union-down{
  transform: translate(-280px, -145px);
  height: 150px;
  position: relative;
}

.union-up{
  transform: translate(-760px, -245px);
  height: 140px;
  position: relative;
}

.right-ticket{
  transform: translate(945px, -760px);
  height: 500px;
  position: relative;
  /* z-index: -1; */
  opacity: 0.8;
}

.left-ticket{
  transform: translate(-403px, -1130px);
  height: 240px;
  position: relative;
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}